<header class="header">
  <div class="top-bar">
    <div class="logo">
      <span>EAGLE</span><span class="highlight">&nbsp;EYE</span>
    </div>
    <div class="icons">
      <i class="fa fa-search"></i>
      <div class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count">6</span>
      </div>
      <i class="fa fa-user" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
    </div>
  </div>
  <nav class="nav-menu">
    <a href="#">Shop By Category</a>
    <div class="right-menu">
      <a href="#">Our Differentiators</a>
      <a href="#">Invest With Us</a>
    </div>
  </nav>
  <app-login-modal></app-login-modal>
</header>