<section class="category-section">
    <div class="banner"></div>
    <h2>Shop by category</h2>
    <div class="categories">
      <div class="category">
        <img src="/assets/images/fruits-veggies.png" alt="Fruits & Vegetables">
        <p>Fruits & Vegetables</p>
      </div>
      <div class="category">
        <img src="/assets/images/pulses.png" alt="Pulses & Grains">
        <p>Pulses & Grains</p>
      </div>
      <div class="category">
        <img src="/assets/images/oils.png" alt="Oils">
        <p>Oils</p>
      </div>
      <div class="category">
        <img src="/assets/images/nuts.png" alt="Nuts">
        <p>Nuts</p>
      </div>
      <div class="category">
        <img src="/assets/images/exotics.png" alt="Exotics">
        <p>Exotics</p>
      </div>
      <div class="category">
        <img src="/assets/images/flowers.png" alt="Flowers">
        <p>Flowers</p>
      </div>
      <div class="category">
        <img src="/assets/images/Intersect.png" alt="Ready to Eat">
        <p>Ready to Eat</p>
      </div>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
  </section>
  